body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2{
    text-align:center;
}

footer{
    width:290px;
    height:30px;
    position:fixed;
    bottom:3px;
    right:20px;
}

.no-display{
    display:none;
}